@font-face {
    font-family: 'LogoFont';
    src: url("../assets/fonts/single-fighter/SINGLE\ FIGHTER.otf");
}

@font-face {
    font-family: 'NexaLight';
    src: url("../assets/fonts/nexa/Nexa-ExtraLight.ttf");
}

@font-face {
    font-family: 'NexaBold';
    src: url("../assets/fonts/nexa/Nexa-Heavy.ttf");
}

body{
    margin: 0;
    font-family: NexaLight ;
    background-color: rgb(0, 0, 0);
    color: white;
}


.zonaTitulo{
    position: relative;
}


.zonaTitulo .tituloText{
    z-index: 1;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    position: relative;
}

.tituloText img{
    text-align: center;
    margin-top: 5%;
    height: 40%;
    width: 40%;
}


.zonaTitulo video{
    background-color: black;
    z-index: 0;
    filter: opacity(20%);
    filter: blur(30px);
    position: absolute;
    object-fit: cover;
    text-align: center;
}

